<div class="profile">
    {{- with .Site.Params.profileMode }}
    <style>
        :root {
            --article-font-family: "Noto Serif SC", var(--base-font-family);
        }
    </style>
    
    <script> //正文字重300，标题字重700
            (function () {
                const customFont = document.createElement('link');
                customFont.href = "https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;700&display=swap"; 
                customFont.type = "text/css";
                customFont.rel = "stylesheet";
            
                document.head.appendChild(customFont);
            }());
    </script>
    <div class="profile_inner">
        {{- if .imageUrl}}<img src="{{ .imageUrl}}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{- .imageHeight | default 150 -}}" width="{{- .imageWidth | default 150 -}}" />{{- end}}
        <h1>{{- .title | default $.Site.Title | markdownify -}}</h1>
        <span>{{- .subtitle | markdownify -}}</span>
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . -}}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | humanize }}">
                <span class="button-inner">{{ .name }}</span>
            </a>
            {{- end -}}
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>
