.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height)
}

.nav a {
    display: block
}



.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit
}

.logo :hover {
    transition: transform 0.8s;
    webkit-transform: scale(1.15);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.15);
}

.logo a {
    font-size: 26px;
    font-weight: bold;
    font-family: "Noto Serif SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";

}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle  {
    font-size: 26px;
    margin: auto 4px
}

body.dark #moon {
    vertical-align: middle;
    display: none
}

body:not(.dark) #sun {
    display: none
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: visible;
    white-space: nowrap
}

#menu li+li {
    margin-inline-start: var(--gap)
}

#menu a {
    font-size: 17px;
    font-family: "Noto Serif SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
}

#menu .active {
    font-weight: 500;

    border-bottom: 2px solid currentColor;
    
}
#menu :hover {
    transition: transform 0.5s;
    webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.08);
}


.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit
}
